<div id="<%= dom_id @case %>">

  <div>
    <strong>Title:</strong>
    <%= @case.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= @case.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= @case.status %>
  </div>

</div>